In [211]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error , mean_absolute_error

In [212]:
def get_data():
    #get train data
    train_data_path ='train.csv'
    train = pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\house pricing_for kaggle\train.csv')
    
    #get test data
    test_data_path =r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\house pricing_for kaggle\test.csv'
    test = pd.read_csv(test_data_path)
    
    return train , test

def get_combined_data():
    #reading train data
    train , test = get_data()

    target = train.SalePrice
    train.drop(['SalePrice'],axis = 1 , inplace = True)

    combined = train.append(test)
    combined.reset_index(inplace=True)
    combined.drop(['index', 'Id'], inplace=True, axis=1)
    return combined, target

#Load train and test data into pandas DataFrames
train_data, test_data = get_data()

#Combine train and test data to process them together
combined, target = get_combined_data()

C:\Users\Ismat\AppData\Local\Temp\ipykernel_23080\292315350.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined = train.append(test)

In [208]:
# dummy variables
dummy_data=pd.get_dummies(combined,drop_first=True)
# imputation
imputer = KNNImputer()
null_imputed=imputer.fit_transform(dummy_data)
null_imputed=pd.DataFrame(null_imputed)

In [213]:
def split_combined():
    global combined
    train = null_imputed[:1460]
    test = null_imputed[1460:]

    return train , test 
  
train, test = split_combined()

In [214]:
# splitting data
X = train
y = target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
# scaling data
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
rf_regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
rf_regressor.fit(X_train, y_train)
y_pred = rf_regressor.predict(X_test)
pd.DataFrame({
    'r2_score' : np.ravel(round(r2_score(y_test,y_pred) * 100,2)),
    'mean_squared_error' : np.sqrt(mean_squared_error(y_test, y_pred)),
    'mean_absolute_error' : mean_absolute_error (y_test, y_pred)
    })

   r2_score  mean_squared_error  mean_absolute_error
0     83.54         33433.23288         18881.516895

In [218]:
# scaling
sc= StandardScaler()
scaled_prediction=sc.fit_transform(test)
submission=rf_regressor.predict(scaled_prediction)
output = pd.DataFrame({'Id': pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\house pricing_for kaggle\test.csv').Id,
                       'SalePrice': submission})
output.to_csv('RF_house_price.csv', index=False)
output

        Id  SalePrice
0     1461   130565.0
1     1462   155535.0
2     1463   184260.0
3     1464   182170.0
4     1465   196350.0
...    ...        ...
1454  2915    84040.0
1455  2916   100990.0
1456  2917   153940.0
1457  2918   121270.0
1458  2919   236209.0

[1459 rows x 2 columns]

In [ ]:
# test_data=pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\house pricing_for kaggle\test.csv')
# train_data=pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\house pricing_for kaggle\train.csv')

In [184]:
# # importing data
# data=train_data.drop('SalePrice',axis=1)
# # dummy variables
# train_set_featured=pd.get_dummies(data,drop_first=True)
# # imputation
# imputer = KNNImputer()
# train_imputed=imputer.fit_transform(train_set_featured)
# train_imputed=pd.DataFrame(train_imputed)
# # splitting data
# X = train_imputed
# y = train_data['SalePrice']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
# # scaling data
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)
# rf_regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
# rf_regressor.fit(X_train, y_train)
# y_pred = rf_regressor.predict(X_test)
# pd.DataFrame({
#     'r2_score' : np.ravel(round(r2_score(y_test,y_pred) * 100,2)),
#     'mean_squared_error' : np.sqrt(mean_squared_error(y_test, y_pred)),
#     'mean_absolute_error' : mean_absolute_error (y_test, y_pred)
#     })

   r2_score  mean_squared_error  mean_absolute_error
0     85.13        31773.864322         18771.487671

## test data

In [163]:
# # importing data
# test_data=pd.read_csv(r'C:\Users\Ismat\OneDrive\Рабочий стол\document\etc\lesson_course\projects\house pricing_for kaggle\test.csv')
# # dummy variables
# test_set_featured=pd.get_dummies(test_data,drop_first=True)
# # imputation
# imputer = KNNImputer()
# test_imputed=imputer.fit_transform(test_set_featured)
# test_imputed=pd.DataFrame(test_imputed)
# # scaling
# sc= StandardScaler()
# scaled_prediction=sc.fit_transform(test_imputed)

In [165]:
# rf_regressor.predict(scaled_prediction)

# # output = pd.DataFrame({'Id': test_data.Id, 'SalePrice': submission})